@import url("https://fonts.googleapis.com/css2?family=REM:wght@400;500;600&display=swap");
// Dark mode
$dark-mode-upper-bg: #37484e;
$dark-mode-lower-bg: #19212b;
$dark-mode-font-upper: #fefefe;
$dark-mode-font-lower: #d2d4d5;
// Light mode
$light-mode-upper-bg: #fcfcfc;
$light-mode-lower-bg: #f3f3f3;
$light-mode-font-upper: #010101;
$light-mode-font-lower: #5b5a5a;

// Button
$arithmetic-ops-button: #e5e5e5;
$equals-button: #fe6430;
$all-clear-button: #f5ae94;

// Sizes
$mobile-keypad: 5vw;

* {
  margin: 0;
  padding: 0;
  background-color: none;
  box-sizing: border-box;
  font-family: REM, sans-serif;
  font-weight: 400;
}

.wrapper {
  min-width: 350px;
  max-width: 500px;
  margin: auto;
}

.upper__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  height: 40vh;
  max-width: 100%;
  background-color: $dark-mode-upper-bg;
  color: $dark-mode-font-upper;
  nav {
    h1 {
      font-size: 2.5rem;
    }
  }
  input {
    max-width: 100%;
    height: 60px;
    background: none;
    color: $dark-mode-font-upper;
    font-size: 2rem;
    text-align: right;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $all-clear-button;
    border-radius: 5%;
  }
}

.lower__section {
  height: 60vh;
  padding: 5px;
  background-color: $dark-mode-lower-bg;
  color: $dark-mode-font-lower;
  display: flex;
  .keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 8px;
    padding: 5px;
    button {
      border-radius: 10%;
      font-size: 2.5rem;
      color: $dark-mode-font-lower;
      background: none;
    }
  }
  .arithmetic__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 8px;
    padding: 5px;
    button {
      border-radius: 10%;
      font-size: 1.5rem;
      background-color: $arithmetic-ops-button;
    }
    .clear__operator {
      background-color: $all-clear-button;
    }
    .result__operator {
      background-color: $equals-button;
    }
  }
}
