@import url("https://fonts.googleapis.com/css2?family=REM:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: none;
  box-sizing: border-box;
  font-family: REM, sans-serif;
  font-weight: 400;
}

body {
  background-color: #37484e;
}

.wrapper {
  min-width: 350px;
  margin: auto;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 10px -1px, rgba(255, 255, 255, 0.3) 0px 1px 10px -1px;
  border-radius: 10%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.header {
  padding: 40px;
}
.header h2 {
  color: #fefefe;
}
.header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #37484e;
  color: #fefefe;
  padding: 20px;
}
.header .header__nav h1 {
  font-size: 2.5rem;
  background-color: #37484e;
}
.header .header__nav button {
  background-color: #37484e;
  border: none;
}
.header .header__nav img {
  width: 30px;
}

.upper__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  height: 40%;
  max-width: 100%;
  background-color: #37484e;
  color: #fefefe;
}
.upper__section input {
  background: none;
  color: #fefefe;
  text-align: right;
  border: none;
}
.upper__section .output {
  align-self: flex-end;
  width: 50%;
  height: 7vh;
  font-size: 2rem;
}
.upper__section .operator {
  align-self: flex-end;
  width: 40%;
  height: 3vh;
  font-size: 2rem;
}
.upper__section .answer {
  border: none;
  text-align: left;
  background-color: #37484e;
  margin-top: 20px;
  color: #fefefe;
}
.upper__section .display {
  height: 10vh;
  font-size: 3rem;
  max-width: 100%;
}

.lower__section {
  height: 60%;
  padding: 5px;
  background-color: #19212b;
  color: #d2d4d5;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2%;
}
.lower__section .extended {
  display: grid;
  gap: 5px;
  padding: 0 7px;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in;
}
.lower__section .extended__upper {
  display: inherit;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.lower__section .extended__lower {
  display: inherit;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.lower__section .extended__operator {
  border-radius: 10%;
  font-size: 1.5rem;
  background-color: rgba(229, 229, 229, 0.7215686275);
  font-weight: 400;
}
.lower__section .extended.show {
  max-height: 100vh;
}
.lower__section .basic__keypad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.lower__section .basic__keypad .keypad {
  display: inherit;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 5px;
  padding: 5px;
}
.lower__section .basic__keypad .keypad #delete {
  font-size: 1rem;
}
.lower__section .basic__keypad .keypad button {
  border-radius: 10%;
  font-size: 2.5rem;
  color: #d2d4d5;
  background: none;
}
.lower__section .basic__keypad .arithmetic__main {
  display: inherit;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  padding: 5px;
}
.lower__section .basic__keypad .arithmetic__main button {
  border-radius: 10%;
  font-size: 1.5rem;
  background-color: #e5e5e5;
}
.lower__section .basic__keypad .arithmetic__main .clear__operator {
  background-color: #f5ae94;
}
.lower__section .basic__keypad .arithmetic__main .result__operator {
  background-color: #fe6430;
  grid-column: 2;
  grid-row: 3/span 2;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.footer img {
  width: 50px;
}

@media screen and (min-width: 550px) {
  .wrapper {
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .lower__section {
    flex-wrap: nowrap;
  }
  .lower__section .extended {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    max-width: 0;
    max-height: 100vw;
  }
  .lower__section .extended__upper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .lower__section .extended__lower {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .lower__section .extended__operator {
    padding: 5px;
  }
  .lower__section .extended.show {
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 7px;
  }
}/*# sourceMappingURL=style.css.map */