@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  background-color: none;
  box-sizing: border-box;
  font-family: REM, sans-serif;
  font-weight: 400;
}

body {
  background-color: #37484e;
}

.wrapper {
  min-width: 350px;
  margin: auto;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 10px -1px,
    rgba(255, 255, 255, 0.3) 0px 1px 10px -1px;
  border-radius: 10%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.header {
  padding: 40px;
  h2 {
    color: $dark-mode-font-upper;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark-mode-upper-bg;
    color: $dark-mode-font-upper;
    padding: 20px;
    h1 {
      font-size: 2.5rem;
      background-color: $dark-mode-upper-bg;
    }
    button {
      background-color: $dark-mode-upper-bg;
      border: none;
    }
    img {
      width: 30px;
    }
  }
}

.upper__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  height: 40%;
  max-width: 100%;
  background-color: $dark-mode-upper-bg;
  color: $dark-mode-font-upper;
  input {
    background: none;
    color: $dark-mode-font-upper;
    text-align: right;
    border: none;
  }
  .output {
    align-self: flex-end;
    width: 50%;
    height: 7vh;
    font-size: 2rem;
  }
  .operator {
    align-self: flex-end;
    width: 40%;
    height: 3vh;
    font-size: 2rem;
  }
  .answer {
    border: none;
    text-align: left;
    background-color: $dark-mode-upper-bg;
    margin-top: 20px;
    color: $dark-mode-font-upper;
  }
  .display {
    height: 10vh;
    font-size: 3rem;
    max-width: 100%;
  }
}

.lower__section {
  height: 60%;
  padding: 5px;
  background-color: $dark-mode-lower-bg;
  color: $dark-mode-font-lower;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2%;
  .extended {
    display: grid;
    gap: 5px;
    padding: 0 7px;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in;
    &__upper {
      display: inherit;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
    }
    &__lower {
      display: inherit;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
    }
    &__operator {
      border-radius: 10%;
      font-size: 1.5rem;
      background-color: #e5e5e5b8;
      font-weight: 400;
    }
  }
  .extended.show {
    max-height: 100vh;
  }
  .basic__keypad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    .keypad {
      display: inherit;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      gap: 5px;
      padding: 5px;
      #delete {
        font-size: 1rem;
      }
      button {
        border-radius: 10%;
        font-size: 2.5rem;
        color: $dark-mode-font-lower;
        background: none;
      }
    }
    .arithmetic__main {
      display: inherit;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      padding: 5px;
      button {
        border-radius: 10%;
        font-size: 1.5rem;
        background-color: $arithmetic-ops-button;
      }
      .clear__operator {
        background-color: $all-clear-button;
        grid-row: 3 / span 2;
      }
      .result__operator {
        background-color: $equals-button;
        grid-column: 2;
        grid-row: 3 / span 2;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  img {
    width: 50px;
  }
}

@media screen and (min-width: 550px) {
  .wrapper {
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: fit-content;
  }
  .lower__section {
    flex-wrap: nowrap;
    .extended {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;
      max-width: 0;
      max-height: 100vw;
      &__upper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
      }
      &__lower {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
      }
      &__operator {
        padding: 5px;
      }
    }
    .extended.show {
      max-width: fit-content;
      padding: 7px;
    }
  }
}
